.main-content {
	padding: 60px 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 40vh;
}
.main-content .heading {
	margin: 0;
	line-height: 1;
	text-align: center;
}
.main-content .description {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.main-content .link {
	font-style: italic;
	color: var(--pink);
}