.ceremony-and-reception .inner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
}
.ceremony-and-reception .left-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	padding: 20px;
}	
.ceremony-and-reception .right-wrapper {
	width: 50%;
	padding: 60px;
}
.ceremony-and-reception .right-wrapper .address {
	font-size: 25px;
	margin: 0;
	line-height: 1.2;
}