.footer {
	width: 100%;
	background-color: #FFF;
}
.footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 20px 15px;
}
.footer .container .footer-content-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
}
.footer .container .footer-content-wrapper .footer-navbar ul {
	display: flex;
	flex-direction: row;
	column-gap: 15px;
	padding: 0;
	list-style: none;
}
.footer .container .footer-content-wrapper .footer-navbar ul li a {
	font-size: 14px;
	text-decoration: none;
}
.footer .copyright {
	font-size: 14px;
	text-align: center;
	display: flex;
	align-items: center;
}