.gallery-content {
	padding: 120px 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}
.gallery-content::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: white;
	opacity: 0.5;
}
.gallery-content .container {
	position: relative;
}