.header-desktop > .navigation-menu {
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px 15px;
	display: flex;
	justify-content: center;
	align-items: start;
	column-gap: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.header-desktop > .navigation-menu .menu-wrapper {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin: 0;
}
.navigation-menu a {
	text-decoration: none;
}
.navigation-menu a:hover {
	color: var(--pink); 
}

.header-mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 15px;
}
.mobile-menu {
	display: none;
	position: absolute;
	inset: 0;
    background: white;
    z-index: 2;
	padding: 60px 15px;
}
.mobile-menu .navigation-menu {
	width: 100%;
}
.mobile-menu .navigation-menu .menu-wrapper {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}
@media (min-width: 768px) {
	.header-mobile {
		display: none;
	}
}
@media (max-width: 767px) {
	.header-desktop {
		display: none;
	}
	.mobile-menu {
		display: none;
	}
	.navigation-menu .menu-wrapper {
		flex-wrap: wrap;
	}
}